<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<uxa-app-layout>
    <uxa-masthead>
      <uxa-masthead-icon color="steelblue">{{productName}}</uxa-masthead-icon>
      <app-header></app-header>
    </uxa-masthead>
  
    <uxa-app-content-layout>
      <uxa-masthead-secondary>
        <app-secondary-header></app-secondary-header>
      </uxa-masthead-secondary>
  
      <div ngProjectAs="uxa-side-menu" class="side-menu">
        <app-side-nav></app-side-nav>
      </div>
  
      <div class="main-content"><app-main-content></app-main-content></div>
    </uxa-app-content-layout>
  </uxa-app-layout>
<router-outlet></router-outlet>
