
    <ul class="nav nav-pills nav-stacked">
      <li data-toggle="tab" role="tab">
        <a href="">Home</a>
      </li>
      <li data-toggle="tab" role="tab" class="active">
        <a href="" class="has-caret open">Components</a>
      </li>
      <li data-toggle="tab" role="tab" class="sub-nav">
        <a href="" class="has-caret open">Button</a>
      </li>
      <li data-toggle="tab" role="tab" class="sub-nav nav-second-level">
        <a href="">Flat Button</a>
      </li>
      <li data-toggle="tab" role="tab" class="sub-nav nav-second-level">
        <a href="">Raised Button</a>
      </li>
      <li data-toggle="tab" role="tab" class="sub-nav">
        <a href="" class="has-caret open">
          Input
        </a>
      </li>
      <li data-toggle="tab" role="tab" class="sub-nav nav-second-level">
        <a href="">Flat Input</a>
      </li>
      <li data-toggle="tab" role="tab" class="sub-nav nav-second-level">
        <a href="">Raised Input</a>
      </li>
      <li data-toggle="tab" role="tab" class="sub-nav">
        <a href="">Icons</a>
      </li>
      <li data-toggle="tab" role="tab">
        <a href="" class="has-caret">Guidelines</a>
      </li>
    </ul>
